.card-container{
  position: relative;
  width: 100%;
  height: 100%;
  .card{
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  .instructions{
    background-color: rgba(0,0,0,.5);
    color: white;
    padding: 1em;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    text-align: center;
    z-index: 100;
    .hidden-link{
      color: white;
    }
  }
  .card-interior{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    position: relative;
    .card-logo{
      display: block;
      width: 25%;
      position: absolute;
      top: 3%;
      left: 5%;
    }
    .card-info{
      @extend %clearfix;
      background-color: white;
      position: absolute;
      width: 90%;
      margin: auto;
      bottom: 3%;
      left: 5%;
      right: 5%;
      border-radius: 6px;
      padding: .5em;
      .location-name{
        margin-bottom: 0;
      }
      .source, .views{
        float:left;
      }
      .source{
        width: 30%;
      }
      .views{
        color: $red;
        width: 70%;
        padding-left: 5%;
        text-align: right;
        font-weight: 600;
      }
    }

  }
}

ul.card-deck{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  li{
    float: left;
  }
}
