$light-gray: #DADEE1;
$dark-gray: #7F8394;
$darkest-gray: #3D4153;
$light-blue: #F3F8FB;
$blue: #17ADFF;
$light-blue: #F3F8FB;
$lightest-red: #FFFBFB;
$light-red: #FFEFEE;
$red: #FF685B;

.bg-light-blue{
  background-color: $light-blue;
}

.red{
  color: $red;
}

.white{
  color: white;
}

.blue{
  color: $blue;
}
